@model List<Product>


   <div class="row gy-4 ">
@foreach(var item in Model)
{
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
    <div class="card" style="width: 18rem;">
  <img src="@item.Photo" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@item.Name</h5>
    <p class="card-text">$@item.Price</p>
    <a href="/Home/product/@item.Id" class="btn btn-primary">BUY NOW</a>
  </div>
</div>
</div>
}
</div>